/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Poppins:wght@500&display=swap');

/* common style  */
body{
    font-family: 'Lobster', cursive;

    font-family: 'Pacifico', cursive;

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color:#161616;
    margin-top: 30px;
    padding-top:25px;
    width:90%;
    height:100vh;
    margin-left: 5%;
    border-radius:10px ;  
    animation: anim2 2s cubic-bezier(0.19, 1, 0.22, 1) 2.5s  both;
}
#screen-load{
    margin-top: 30px;
    padding-top:25px;
    width:500px;
    height:100px;
    margin-left:5%;
    background-color:#161616;
    overflow: hidden;
}
#screen-load .element{
    
    width: 100%;
    height: 100%;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#screen-load .element h1{
    
    color: white;
    font-size: 60px;
    font-weight: 700;
    
}
/* animation  */
#screen-load .element:nth-child(1){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 0.4s  both;

}
#screen-load .element:nth-child(2){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 1.5s  both;

}
#screen-load .element:nth-child(3){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 2s  both;

}
@keyframes anim{
    to{
        margin-top: -100px;
    }
}

@keyframes anim2{
   to{
     transform: translateY(-130%);
   }
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header area style  */


.header-area{
    border-radius: 20px;
    background-color: #161616;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-top: 30px;
    padding-top:25px;
    width:90%;
    margin-left:5%;
    
    
}
.header{
    margin: 5vw;
    
}

.header h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 65px;
    color: white;
    
   
}
.header p{
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
}
.header .button{
    padding:16px 25px;
    background-color: #d63031;
    border-radius: 5px;
    border:0px;
    color: white;
    font-weight: 400;
    text-decoration: none;
   
}
.header .button:hover{
    background-color: #6c5ce7;
}

/* image area style  */
.img-area{
    
    margin: 0 5vw;
    margin-bottom: 0;
    bottom:0;
    padding: 0;
}
.img-area img{
    width: 100%;
    margin-bottom:0;
    bottom: 0;

}





/* middle area style 
------------ */
.match-details{
    display: flex;
    position: relative;
    margin-top:100px;
}

.menu-details{
    background-color: #161616;
    width:312px;
    
    margin-bottom: 100px;
   display:grid;
   grid-template-columns: repeat(1,1fr);
   border-radius: 10px;
}
.menu-details a{
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    background-color: white;
    color: #161616;
    padding:10px 20px;
    font-weight: 400;
    text-align: center;
    margin: 20px;
}
.menu-details a:hover{
    background-color: #6c5ce7;
    color: white;
}
.menu-details .unique-blog{
    background-color: #DD0000;
    color: white;
}

/* blogs style 
---------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    margin-bottom: 100px;
    

}
.blog{
    width: 280px;
    border-radius: 10px;
    box-shadow:1px 1px 1px 1px ;
   
    margin-left: 24px;
    margin-bottom: 24px;
}
.thumbnail img{
    margin-bottom: 20px;
    width: 280px;
}
.blog-details a{
    padding:5px 18px;
    width:100px;
    margin:20px;  
    border:1px solid #161616;
    border-radius: 5px;
    text-decoration: none;
    color: #161616;
}
.blog-details h3{
    font-size: 18px;
    font-weight:600;
    margin: 0px 20px;
    margin-top: 15px;
}
.blog-info{
    display: flex;
}
.blog-info1{
    margin: 20px;
}
.blog-info2{
    margin: 20px 0px;
}

/* .match-details  */
.match-highlights{
    display: flex;
    margin-bottom: 30px;
    
}
.match-highlights a{
    text-decoration: none;
    font-size: 16px;
    font-weight:500;
    padding: 10px 20px;
    background-color: #636e72;
    border-radius:15px;
    color:white;
    margin-left: 30px;
    cursor: pointer;
}
.match-highlights a:hover{
    background-color: #a29bfe;
}

.match-highlights  .match-color{
    background-color: #d63031;
}
/* video style 
------------------- */
.highlights-video{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.highlights-video iframe{
    width:80%;
    margin-left:5%;
    border-radius: 10px;
}

/* footer area style 
----------- */

.last-section{
    background-color: #161616;
    margin-bottom:0px;
    width: 100%vw;

}
.footer-area h2{
    color: white;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}
.footer-area hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-info{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right:15%;
    padding:0% 10%;
    
}
.footer-info p{
    color: #B9B9B9;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left:20px;
    margin-top:30px;
    cursor: pointer;
}
.footer-logo{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.footer-logo .fa-brands{
    
    color: #81ecec;
    font-size: 40px;
    margin-left: 30px;
    
    
}
.footer-logo .fa-brands:hover{
    background-color: white;
    border-radius: 10px;
    
}

/* SCREEN BREAKPOINT  */
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    
    .header-area{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .match-details{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);

    }
    .highlights-video {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .highlights-video iframe{
        margin-bottom:30px;
    }
    .footer-info{
        display:grid;
        grid-template-columns: repeat(1,fr);
        padding-bottom: 30px;
        justify-content: center;
        align-items:center ;
    }
    
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    
    .header-area{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .match-details{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }

.highlights-video {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 30px;
}
.highlights-video iframe{
    margin-bottom:30px;
}
.footer-info{
    display:grid;
    grid-template-columns: repeat(1,fr);
    padding-bottom: 30px;
    justify-content: center;
    align-items:center ;
}
.menu-details{
    background-color: #161616;
    width:60vw;
    
    margin-bottom: 100px;
   display:grid;
   grid-template-columns: repeat(3,1fr);
   border-radius: 10px;
}
.menu-details a{
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
 /* Media Query for Tablets Ipads portrait mode */
 @media (min-width: 768px) and (max-width: 1024px){
    
    .header-area{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .match-details{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }

.highlights-video {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 30px;
}
.highlights-video iframe{
    margin-bottom:30px;
}
.footer-info{
    display:flex;
    padding-bottom: 30px;
    justify-content: center;
    align-items:center ;
}
.menu-details{
    background-color: #161616;
    width:50vw;
    
    margin-bottom: 100px;
   display:grid;
   grid-template-columns: repeat(3,1fr);
   border-radius: 10px;
}
.menu-details a{
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    
    .header-area{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .match-details{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }

.highlights-video {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 30px;
}
.highlights-video iframe{
    margin-bottom:30px;
}
.footer-info{
    display:flex;
    padding-bottom: 30px;
    justify-content: center;
    align-items:center ;
}
.menu-details{
    background-color: #161616;
    width:50vw;
    
    margin-bottom: 100px;
   display:grid;
   grid-template-columns: repeat(3,1fr);
   border-radius: 10px;
}
.menu-details a{
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
  
    