/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Poppins:wght@500&display=swap');

/* common style  */
body{
    font-family: 'Lobster', cursive;

    font-family: 'Pacifico', cursive;

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color:#161616;
    width:85%;
    height:600px;;
    left:5%;
    right:5%;
    border-radius:10px ;  
    margin-top: 50px;
    animation: anim2 2s cubic-bezier(0.19, 1, 0.22, 1) 2.5s  both;
}
#screen-load{
    width:500px;
    height:100px;
    background-color:#161616;
    overflow: hidden;
}
#screen-load .element{
    width: 100%;
    height: 100%;
    background-color: #161616;
    display: flex;
    
}
#screen-load .element h1{
    
    color: white;
    font-size: 50px;
    font-weight: 700;
    
}
/* animation  */
#screen-load .element:nth-child(1){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 0.4s  both;

}
#screen-load .element:nth-child(2){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 1.5s  both;

}
#screen-load .element:nth-child(3){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 2s  both;

}
@keyframes anim{
    to{
        margin-top: -100px;
    }
}

@keyframes anim2{
   to{
     transform: translateY(-120%);
   }
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header area style  */

.header-section{
    background-color:#161616;
    width:85%;
    height:600px;;
    left:5%;
    right:5%;
    border-radius:10px ;  
    margin-top: 50px;
}
.header-area{
    
    
    color: white;
    display: flex;
}
.header{
    width: 50%;
    
    margin-left:100px;
}

.header h1{
    font-size: 70px;
    font-weight: 700;
    
   
}
.header p{
    font-size: 16px;
    font-weight: 400;
}
.header .button{
    padding:16px 25px;
    background-color: #DD0000;
    border-radius: 5px;
    border:0px;
    color: white;
    font-weight: 400;
    text-decoration: none;
   
}

/* image area style  */
.img-area{
    width: 45%;
    margin-bottom: 0%;
    margin-left:5%;
}
.img-area img{
    position:relative;
   height: 100%;
   right: 15%;
   top:50px;
   bottom: 0%;
   z-index: 1;

}





/* middle area style 
------------ */
.middle-section{
    display: flex;
    position: relative;
    margin-top:100px;
    width: 80%vw;
    
}

.menu-detail{
    background-color: #161616;
    width:312px;
    
    margin-bottom: 100px;
   display:grid;
   grid-template-columns: 1fr;
   border-radius: 10px;
}
.menu-detail a{
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    background-color: white;
    color: #161616;
    padding:10px 20px;
    font-weight: 400;
    text-align: center;
    margin: 20px;
}
.menu-detail .unique-blog{
    background-color: #DD0000;
    color: white;
}

/* upcoming matches style 
---------- */
.upcoming-matches{
    display: grid;
    grid-template-columns:repeat(3,1fr);
}
.matches{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px;
    margin-left: 24px;
    margin-bottom: 24px;
}
.thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;  
    padding: 15px;
}
.match-details{
    display: flex;
}
.match-details p{
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin: 15px 15px;
}
.thumbnail .team-name{
    font-size: 20px;
    color: #161616;
    font-weight: 600;
}
.thumbnail .match-time{
    font-size: 16px;
    font-weight: 400;
    color:#4D4D4D;

}


/* footer area style 
----------- */

.last-section{
    background-color: #161616;
    margin-bottom:0px;
    width: 100%vw;

}
.footer-area h2{
    color: white;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}
.footer-area hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-info{
    display: flex;
    justify-content: center;
    
}
.footer-info p{
    color: #B9B9B9;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 25px;
    margin-top:30px;
    cursor: pointer;
}
.footer-logo{
    margin-left:560px;
    padding-bottom: 30px;
}
.footer-logo .fa-brands{
    
    color: #81ecec;
    font-size: 40px;
    margin-left: 30px;
    
    
}
.footer-logo .fa-brands:hover{
    background-color: white;
    border-radius: 10px;
    
}
